@import "tailwindcss";

@font-face {
  font-family: "Clarendon-Bold";
  src: url("../fonts/Clarendon-Bold.ttf") format("ttf");
  font-display: swap;
}
@font-face {
  font-family: "Clarendon-XBold";
  fontweight: 800;
  src: url("../fonts/Clarendon-Xbold-webfont.ttf") format("ttf");
  font-display: swap;
}

body {
  @apply bg-foreground;
  font-family: "Poppins", sans-serif;
}
/* rgb(247, 247, 248) */
:root {
  --color-secondary: #666666;
  --color-foreground: #ffffff;
  --color-primary: #ff7f50;
  --height-header: 3.5rem;
}
@theme {
  --font-logo: "Clarendon-XBold";
  --font-primary: "Clarendon-Bold";
  --color-secondary: var(--color-secondary);
  --color-foreground: var(--color-foreground);
  --color-primary: var(--color-primary);
  --height-header: var(--height-header);
}

.slide-enter-active,
.slide-leave-active {
  transition: all 0.3s ease;
}

.slide-enter-from,
.slide-leave-to {
  opacity: 0;
}

.slide-enter-from .bg-white,
.slide-leave-to .bg-white {
  transform: translateX(-100%);
}

.slide-enter-to .bg-white,
.slide-leave-from .bg-white {
  transform: translateX(0);
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
